
.welcomeContainer.row { margin-bottom: 100px;}

.avatar {
    border-radius:50%;
    width: 150px;
    height: 100%;
    margin-top: 40px;
}

.welcomePresentation h1{ text-align: center; }
.welcomePresentation p{ text-align: justify; padding-left: 35px;}


@media (max-width: 739px) {

    .avatar.c-12  {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .welcomePresentation p{ padding-right: 35px;}
 }

 @media (min-width: 740px) and (max-width: 1023px) {

    .welcomeContainer.row { margin-bottom: 5px;}

    .avatar.c-12  {
        max-width: 500px;
        margin-top: 20%;
    }
}